
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: omero-web-secrets
data:
  CONFIG_omero_web_public_user: <base64-encoded username>
  CONFIG_omero_web_public_password: <base64-encoded password>